{% block recaptcha_widget %}
{% spaceless %}
    {% if form.vars.recaptcha_enabled %}
        {% if not form.vars.recaptcha_ajax %}
            {% if attr.options is defined %}
                <script type="text/javascript">
                    var RecaptchaOptions = {{ attr.options|json_encode|raw }};
                </script>
            {% endif %}
            <script type="text/javascript" src="{{ form.vars.url_challenge }}"></script>
            <noscript>
                <iframe src="{{ form.vars.url_noscript }}" height="300" width="500" frameborder="0"></iframe><br/>
                <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
                <input type="hidden" name="recaptcha_response_field" value="manual_challenge"/>
            </noscript>
        {% else %}
            <div id="recaptcha_div"></div>

            <script type="text/javascript" src="{{ form.vars.url_api }}"></script>
            <script type="text/javascript">
                $(function() {
                    Recaptcha.create('{{ form.vars.public_key }}', 'recaptcha_div', {{ attr.options|default({})|json_encode|raw }});
                });
            </script>
        {% endif %}
    {% endif %}
{% endspaceless %}
{% endblock recaptcha_widget %}
